/* ========= GOOGLE FONTS ========= */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
    list-style: none;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root{
    --color-main1: #0492c2;
    --color-main2: #52b2bf;
    --color-main3: #63c5da;
    --color-for: #1d1d1d;
    --color-white: #fff;
    --color-ash: rgb(253, 250, 250);
    --color-black: #000;
    --color-light: #63e5ff;
    --color-light2: #b5e2ff;
    --color-gradient: linear-gradient(var(--color-main1), var(--color-main3)); 
    --color-gradient2: linear-gradient(to right, var(--color-main1), var(--color-main3)); 
    --color-gradient3: linear-gradient(to left, var(--color-main1), var(--color-main3)); 
    --color-gradient4: linear-gradient(to left, var(--color-light), var(--color-light2)); 

    
    --transition: all 2s ease-out 0s;
}


/* body{
    background: var(--color-black);
} */

a{
    text-decoration: none;
}

h1,
h2,
h3{
    font-size: 2rem;
    /* line-height: 1rem; */
    font-weight: 900;
    text-align: center;
    margin-bottom: 0.7rem;
    color: var(--color-main1);
}

h4,
h5,
h6{
    font-size: 1.2rem;
    /* line-height: 0.5rem; */
    font-weight: 600;
    /* text-align: center; */
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    color: var(--color-main1);
}

ul li{
    color: var(--color-main1);
}

.main_btn{
    display: inline-block;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    border: 2px solid transparent;
    padding: 0 1.8rem;
    font-size: 1rem;
    line-height: 3rem;
    position: relative;
    color: var(--color-main1);
    cursor: pointer;
    transition: var(--transition);
    z-index: 5;
}



/* ============= SCROLL BEHAVIOR =============== */

html{
    scroll-behavior: smooth;
}

.offset::before{
    /* content: ' '; */
    display: block;
    height: 10rem;
    margin-top: -2rem;
}


/* ============== CUSTOM SCROLLBAR =============== */
html::-webkit-scrollbar{
    width: 0.5rem;
    background: var(--color-white);
}

html::-webkit-scrollbar-thumb{
    background: var(--color-light);
    border-radius: 5rem;
}



/* ========== PRELOADER ========= */

#prelaoder{
    background: var(--color-ash) url(../images/spinnervlll.gif) no-repeat center;
    background-size: 30%;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;
}



/* =========== NAV ============ */

.nav{
    position: fixed;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem 6.5rem;
    background: transparent;
    transition: var(--transition);
    z-index: 1000000;
}

.nav.scrolled{
    background-color: var(--color-white) !important;
    transition: background-color 200ms linear;
    box-shadow: 7px 10px 15px rgba(0, 0, 0, 0.3);
}

.nav .nav__toggle .toggler-icon{
   width: 27px;
   height: 3px;
   background-color: var(--color-main1);
   margin: 5px 0;
   position: relative;
   display: block;
   transition: var(--transition);
}

.nav .nav__toggle{
    display: none;
    border: none;
    outline: none;
}

.nav .menu__bar .menu_items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav .menu__bar .menu_items li{
    margin: 0 15px;
}

.nav .menu__bar .menu_items li a{
    color: var(--color-main1);
    font-size: 1rem;
    font-weight: 800;
}

.nav .menu__bar .menu_items li a:hover{
    color: var(--color-light2);
}

.nav .nav_socials {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.nav .nav_socials span{
    font-size: 1rem;
    font-weight: 600;
    padding-right: 10px;
    color: var(--color-main1);
}

.nav .nav_socials UL{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center; 
}

.nav .nav_socials UL li{
    margin: 0 0.5rem;
}

.nav .nav_socials UL li a{
    color: var(--color-main3);
    font-size: 1rem;
}



/*-- ================ HOME =================*/

.back{
    background-image: url(../images/home.jpg);
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

.back .overlay{
    background-image: linear-gradient(rgba(232, 237, 255, 0.9), rgba(239,254,255,0.9) 40%, rgba(254,255,244,0.3)70%, rgba(255, 255, 255, 0.12));
    width: 100%;
    height: 100%;
}

.back .hero_effect{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

.back .hero_effect img{
    width: 100%;
    display: block;
}

/*================ HOME IMAGE TEXT =================*/

.hero_text{
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hero_text h3{
    color: var(--color-main1);
}

.hero_text h6{
    color: var(--color-main1);
    font-weight: 400;
    text-align: center;
}

.hero_text .home_btn{
    margin-top: 1.5rem;
    text-align: center;
}

.hero_text .home_btn li{
     display: inline-block;
     margin: 10px 10px 0 0; 
}

.hero_text .home_btn li a.main_btn{
    border-radius: 3rem;
    overflow: hidden;
    background-color: var(--color-white);
    border: 0;
    line-height: 3.5rem;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
}

.hero_text .home_btn li a.main_btn i{
    margin-left: 0.5rem;
    color: var(--color-main1);
}

.hero_text .home_btn .btn_one{
    color: var(--color-white);
}

.hero_text .home_btn .btn_one::before{
    position: absolute;
    content: '';
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: var(--color-gradient2);
    z-index: -1;
    transition: var(--transition);
    background-position: right center;
}

.hero_text .home_btn .btn_one:hover::before{
    background-image: var(--color-gradient3);
    background-position: left center;
}

.hero_text .home_btn .btn_two:hover{
    box-shadow: 0 3px 25px 0 rgba(0, 0, 0, 0.16);   
}

/*================ SERVICES =================*/

#wrapper{
    margin: 5rem 7rem 5rem 7rem;
}

.service{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 10rem;
}

.service h3{
    color: var(--color-main1);
}

.service h6{
    margin-bottom: 6rem;
}

.service .service_content{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: var(--color-main1);
}

.service .service_content .box{
    width: 60%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.service .service_content .box .box_1{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.service .service_content .box .box_1 .services{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2rem;
}

.service .service_content .box .box_1 .services i{
    font-size: 3rem;
    margin-bottom: 1rem;
    color: var(--color-main1);
}

.service .service_content .box .box_1 .services .service_content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: justify;
}

.service .service_content .service_img{
    width: 40%;
}

.service .service_content .service_img img{
    width: 120%;
}

/* ============================== PRICING ====================================== */

.pricing{
    display: block;
    text-align: center;
    margin-bottom: 10rem;
}

.pricing h3{
    color: var(--color-main1);
}

.pricing h6{
    margin-bottom: 6rem;
}

.pricing .table{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.pricing .basic{
    width: 355px;
    height: 80%;
    border: 1px solid var(--color-main1);
    border-radius: 1.5rem;
}

.pricing .basic h3{
    text-align: center;
    font-weight: 300;
    padding: 40px 0;
    background-color: var(--color-main3);
    transition: var(--transition);
    border-top-right-radius: 1.5rem;
    border-top-left-radius: 1.5rem;
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
}

.pricing .basic:hover h3{
    background-image: var(--color-gradient2);
    color: var(--color-white);
}

.pricing .standard h3{
    background-image: var(--color-gradient2);
    clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);
    color: var(--color-white);
}

.pricing .basic .price{
    display: block;
    text-align: center;
    padding: 20px 0;
    color: var(--color-main1);
}

.pricing .basic .price .sign{
    display: inline-block;
    font-size: 2rem;
    font-weight: 400;
    vertical-align: middle;
}

.pricing .basic .price .currency{
    font-size: 60px;
    font-weight: 300;
    letter-spacing: -2px;
    line-height: 60px;
    padding: 0;
    vertical-align: middle;
}

.pricing .basic .price .cent{
    display: inline-block;
    font-size: 24px;
    font-weight: 400;
    vertical-align: bottom;
}

.pricing .basic .price .month{
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 3px;
    vertical-align: bottom;
}

.pricing .basic ul li{
    border-top: 1px solid var(--color-main2);
    padding: 18px 0;
    border-bottom: 1px solid var(--color-main2);
    color: var(--color-main1)
}

.pricing .basic ul li i{
    padding-right: 5px;
    color: var(--color-main1);
}

.pricing .header_btn{
    margin: 2rem auto;
    width: 170px;
}

.pricing .header_btn a{
    font-weight: normal;
    font-size: 1.5rem;
    border-radius: 5rem;
    outline: medium none;
    border: 1px solid var(--color-main3);
    color: var(--color-main1);
}

.pricing .basic:hover .header_btn a{
    background-image: var(--color-gradient2);
    color: var(--color-white);
    border: 1px solid var(--color-main3);
}

.pricing .standard .header_btn a{
    background-image: var(--color-gradient2);
    color: var(--color-white);
    border: 1px solid var(--color-main3);
}



/* ============================== CALL TO ACTION ====================================== */

.cta{
   background-image: linear-gradient(to right, rgba(255, 0, 0, 0), #24eaf8), url(../images/2.jpg);
   min-height: 500px;
   background-attachment: fixed;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   position: relative;
   margin-bottom: 10rem;
}

.cta .para{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.cta .para h3{
    color: var(--color-white);
}

.cta .para p{
    color: var(--color-white);
    font-size: 18px;
    padding: 20px 0;
}

.cta .para .call_new{
    background-color: var(--color-white);
    max-width: 450px;
    margin: auto;
    border-radius: 50px;
    padding:12px 0 12px 15px;
    position: relative;
}

.cta .para .call_new i{
    color: var(--color-main1);
    padding-right: 10px;
    font-size: 18px;
}

.cta .para .call_new input{
    border: none;
    outline: none;
    font-size: 18px;
}

.cta .para .call_new input::placeholder{
    opacity: 1;
    color: var(--color-main1);
}

.cta .para .call_new button{
    background-image: var(--color-gradient2);
    border: none;
    outline: none;
    columns: var(--color-white);
    font-size: 1rem;
    padding: 15px 20px;
    cursor: pointer;
    margin-left: 20px;
    border-radius: 5rem;
    color: var(--color-white);
}

.cta .para .call_new button:hover{
    background-image: var(--color-gradient3);
 }





/* ============================== CONTACT ====================================== */

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.contact h3,
h6{

    color: var(--color-main1);
}

.contact .form{
    width: 70%;
}

.contact .form .first,
.contact .form .first{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 25px 0;
}

.contact .form .first input,
.contact .form .first input{
    width: 47%;
    height: 56px;
    border: 1px solid var(--color-main1);
    border-radius: 5px;
    padding: 0 25px;
    font-size: 16px;
    outline: none;
}

.contact .form .first input::placeholder{
    opacity: 1;
    color: var(--color-main1);
}

.contact .form textarea{
    width: 100%;
    resize: none;
    border: 1px solid var(--color-main1);
    border-radius: 5px;
    padding: 0 25px;
    font-size: 16px;
    outline: none;
    font-family: 'Montserrat', sans-serif;
    padding-top: 15px;
}

.contact .form textarea::placeholder{
    opacity: 1;
    color: var(--color-main1);
}

.contact .form .header_btn{
    margin: 2rem auto;
    width: 170px;
}

.contact .form .header_btn a{
    background-image: var(--color-gradient2);
    color: var(--color-white);
    border: none;
    font-size: 18px;
    font-weight: normal;
    outline: none;
}

.contact .form .header_btn:hover a{
    background-image: var(--color-gradient3);
}




/* ============================== FOOTER ====================================== */

footer{
    background-color: var(--color-light);
    padding: 7rem;
}

footer .row_one{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 2rem;
}

footer .row_one ul{
   display: flex;
   flex-direction: row;
   justify-content: flex-start;
   align-items: center; 
}

footer .row_one a{
    padding-right: 20px;
    font-size: 26px;
    color: var(--color-main1);
}

footer .second_row{
display: flex;
   flex-direction: row;
   justify-content: space-between;
}

footer .second_row h6{
    font-size: 14px;
    font-weight: 700;
    line-height: 18px;
    padding-bottom: 20px;
}

footer .second_row li{
    padding-bottom: 12px;
}

footer .second_row li a{
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    color: var(--color-white);
}

footer .second_row .first_row:nth-child(4){
    max-width: 300px;
}

footer .second_row .newsletter{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-top: 5px;
}

footer .second_row .newsletter input{
    width: 100%;
    height: 44px;
    border-radius: 5rem;
    padding: 0 24px;
    border: 0;
    background-color: var(--color-main3);
    font-weight: 500;
    outline: none;
}

footer .second_row .newsletter input::placeholder{
    opacity: 1;
    color: var(--color-white);
}

footer .second_row .newsletter button{
    position: absolute;
    top: 0;
    right: 0;
    width: 44px;
    height: 44px;
    border-top-right-radius: 5rem;
    border-bottom-right-radius: 5rem;
    border: 0;
    font-size: 28px;
    color: var(--color-main1);
    background-color: none;
    cursor: pointer;
}

footer .first_row p{
    color: var(--color-white);
    margin-top: 0.8rem;
}

footer .second_row .text{
    margin-top: 16px;
}

.copyright{
    background-color: var(--color-light);
    padding: 23px 0;
}

.copyright p{
    text-align: center;
    color: var(--color-white);
}


/* ================================ MEDIA QUERIES ========================== */


/* ================= BIG DEVICES ================== */

@media only screen and (max-width: 946px) {
    
    /* ======== NAVBAR ======= */

    .nav{
        padding: 1rem 3rem;
    }

    .nav .nav_socials{
        display: none;
    }

    .hero_text{
        width: 60%;
    }
    
    .hero_text h3{
        font-size: 30px;
    }
    
    .hero_text h6{
        font-size: 1rem;
    }

    /* ============== SERVICES =============== */

    #wrapper{
        margin: 3rem 3rem 10rem 2rem;
    }
    
    .service{
        margin-bottom: 3rem;
    }
    
    .service h3{
        color: var(--color-main1);
    }
    
    .service h6{
        margin-bottom: 3rem;
    }
    
    .service .service_content{
        flex-direction: column-reverse;
        justify-content: center;
    }
    
    .service .service_content .box{
        width: 100%;
    }
    
    .service .service_content .box .box_1{
        justify-content: center;
        align-items: center;
        text-align: center;
    }
        
    .service .service_content .service_img{
        width: 100%;
    }
    
    .service .service_content .service_img img{
        width: 100%;
        margin-bottom: 3rem;
    }

    /* ============== PRICING =============== */

    .pricing .table{
        justify-content: space-evenly;
        flex-wrap: wrap;
    }
    
    .pricing .basic{
        margin-bottom: 3rem;
    }

    /* ============== CTA ================ */

    .cta{
        margin-bottom: 5rem;
     }
     
     .cta .para{
        width: 80%;
     }

     /* ============ CONTACT ============ */

     .contact .form{
        width: 80%;
     }

     /* ============= FOOTER =============== */

    footer .row_one{
        margin-bottom: 2rem;
    }
    
    footer .row_one ul{
       display: flex;
       flex-direction: row;
       justify-content: flex-start;
       align-items: center; 
    }
    
    footer .row_one a{
        padding-right: 20px;
        font-size: 26px;
        color: var(--color-main1);
    }
    
    footer .second_row{
        display: flex;
       flex-direction: column;
       justify-content: space-between;
    }
    
}


/* ================= MEDIUM DEVICES ================== */

@media only screen and (max-width: 774px) {
    .nav{
        padding: 0.7rem 1rem;
    }
      
    .nav .nav__toggle{
        display: block;
        position: absolute;
        top: 26px;
        right: 16px;
        z-index: 1000000;
    }

    .nav .menu__bar{
        position: fixed;
        top: 55px;
        right: -360px;
        width: 300px;
        background-color: var(--color-main3);
        height: 50vh;
        transition: var(--transition);
    }
    
    .nav .menu__bar .menu_items{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        text-align: justify;
        padding: 40px 0;
    }
    
    .nav .menu__bar .menu_items li{
        margin: 2rem 30px;
    }

    .nav .menu__bar .menu_items li a{
        font-size: 1rem;
    }

    .hero_text{
        width: 80%;
    }

    .hero_text h6{
        font-size: 16px;
    }
    
    /* ============== SERVICES ============== */

    #wrapper{
        margin: 3rem 1rem 10rem 1rem;
    }

    .service h3{
        font-size: 33px;
    }

    .service h6{
        font-size: 16px;
    }

    .service .service_content .service_img{
        width: 90%;
        margin-bottom: 5rem;
    }

    /* ========= PRICING ========= */

    .pricing h3{
        font-size: 33px;
    }
    
    .pricing h6{
        font-size: 16px;
    }

    .pricing .table{
        flex-direction: column;
        justify-content: center;
        flex-wrap: nowrap;
    }

    /* ============ CTA============ */

    .cta .para{
        width: 90%;
    }

    .cta .para h3{
        font-size: 33px;
    }

    .cta .para h6{
        font-size: 16px;
    }

    .cta .para .call_new input{
        font-size: 14px;
    }

    .cta .para .call_new button{
        font-size: 12px;
    }

    /* ============ CONTACT ============ */

    .contact h3{
        font-size: 33px;
    }

    .contact h6{
        font-size: 16px;
    }

    .contact .form .header_btn a{
        font-size: 33px;
    }

    /* ============ FOOTER ============ */

    footer{
        padding: 4rem 1rem;
    }

    footer .second_row{
        flex-wrap: wrap;
    }

    footer .second_row .first_row{
        margin-bottom: 1rem;
    }
    
}



/* ================= SMALL DEVICES ================== */

@media only screen and (max-width: 541px) {
    
    /* ========== HOME TEXT =========== */

    .hero_text h3{
        font-size: 28px;
        line-height: 45px;
    }

    .hero_text .home_btn li a.main_btn{
        margin-top: 0.7rem;
        font-size: 15px;
    }

    /* =========== SERVICES ============== */

    .service{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .service h6{
        text-align: justify;
    }
    
    .service .service_content .box{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .service .service_content .box .box_1 .services{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
    }


    /* ============ CTA ============== */

    .cta .para h3{
        font-size: 28px;
        line-height: 45px;
    }
    
    .cta .para .call_new input{
        /* font-size: 12px; */
        display: none;
    }

    .cta .para .call_new i{
        margin-right: 7rem;
    }

    .cta .para .call_new button{
        font-size: 12px;
    }

    /*  ========== CONTACT ==========  */

    .contact .form{
        width: 100%;
    }

    .contact .form .first, .contact .form .first{
       display: flex;
       flex-direction: column;
       justify-content: flex-start;
       align-items: flex-start; 
    }

    .contact .form .first{
        margin: 0 0;
    }

    .contact .form .first input, .contact .form .first input{
        width: 100%;
        margin-bottom: 2rem;
    }

    .contact .form .header_btn a{
        font-size: 2rem;
        border-radius: 3rem;
    }
} 